/******* GENERAL *******/
/* spacing on all sections */


:root {
    --primary-bg: #f5d7e6;
    --primary-text: #525b5e;
    --secondary-text: #666;
    --card-hover: #f5d7e6;
    --navbar-bg: #f5d7e6;
      
  
}
body {
    background-color: var(--navbar-bg);
    color: var(--primary-text);
    transition: background-color 0.3s, color 0.3s;
}
#about,
#skills,
#portfolio,
#contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#about h2,
#skills h2,
#portfolio h2,
#contact h2 {
    margin-bottom: 3rem;
}
#contact {
    padding-bottom: 4rem;
}

/* display background dark color on navbar scroll */

.fixed-top{
    background-color: #a249b7;
    height:50px;
}
.navbarScroll.navbarDark {
    background-color: #a249b7;  
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #a08f2c; /* Couleur au survol */
}

.navbar-dark .navbar-nav .nav-link {
     color:  #ffffff;;  /* Couleur des liens */
}

@media (max-width: 992px) {
    .navbar {
        background-color: #a249b7; /* Fond par défaut */
    }

    

    /* Ajoutez cette règle pour le menu ouvert */
    .navbar-collapse.show {
        background-color: #a249b7; /* Fond quand le menu est ouvert */
    }



    .navbar-collapse {
        position: absolute; /* Positionner par rapport à la navbar */
        top: 100%; /* Juste en dessous de la barre */
        left: 0;
        width: 100%; /* S'étend sur toute la largeur */
        background-color: #a249b7; /* Assurez-vous que le fond est le même */
        z-index: 10; /* S'assure qu'il est au-dessus des autres éléments */
        margin: 0; /* Supprime tout décalage */
        padding: 0; /* Supprime les espaces inutiles */
    }

    .navbar-toggler {
        position: relative; /* Ajustez si nécessaire */
        z-index: 11; /* Au-dessus du menu */
    }
}




/* text css above hero image pas de changement ici*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* section about */

.imageAboutPage {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 40px;
    
}


.title-position h1 {
    text-align: center;
    margin-bottom: 5vh;
}
/* skills */
.skillsText.card {
    height: 370px;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    border-radius: 60px;
    border: 2px solid;
    transition: transform 0.3s, box-shadow 0.3s;
  
}
.skillsText img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}
#skills p {
    text-align: center;
}
.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.skillsText:hover {
    transform: scale(1.05);
   
}

/* portfolio */
#portfolio p {
    text-align: center;
}
.card-img-top {
    height:164px;
    width: auto;
    object-fit: cover;
}

/* contact */
.contactColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactColumn i {
    color: #198754;
}
.row{
    justify-content: space-evenly;
}


   

/* footer */



